<div class="p02">
	<div class="main">
   	  <div>
          <h3>建立虛擬伺服器</h3>
          <p>申請使用SNSPlus 雲端伺服器託管服務</p>
          <img src="/assets/images/esta_info.jpg" width="480" height="160" />
		  <a routerLink="/s01" href="javascript:void(0)" class="btn blue" (click)="start()" >申請虛擬伺服器</a>
          <a target="_blank" href="http://mi.cloud.snsplus.com/iServCloud/?enterprise=snsplus#"class="btn blue">資源控制台</a>
        </div>
        <!--<div>
            <h3>資源</h3>
            <p>0  啟動中虛擬伺服器</p>
            <p>0  Volume</p>
            <p>0  SSH 金鑰</p>
            <p>0  Security Group</p>
            <p>0  Snapshots</p>
            <p>0  IP 配置量</p>
        </div>-->
    </div>
</div>