<div class="m03">
	<h3>付款紀錄</h3>
	<div class="zone">
		<span>開始年月日</span><input type="text" /><span>~  結束年月日</span><input type="text" />
		<a href="#" class="save btn"><i class="fa fa-search"></i>查詢</a>
	</div>
	<ul class="show">
		<li><span>時間</span><span>付款方式</span><span>金額</span><span>歷史明細</span></li>
		<li><span>2016/09/01  10:19</span><span>信用卡</span><span>3000元</span><span><a routerLink="/payment/detail" >帳單明細</a></span></li>
		<li><span>2016/10/01  15:12</span><span>信用卡</span><span>3000元</span><span><a routerLink="/payment/detail" >帳單明細</a></span></li>
		<li><span>2016/11/01  17:23</span><span>信用卡</span><span>3000元</span><span><a routerLink="/payment/detail" >帳單明細</a></span></li>
		<li><span>2016/12/01  20:10</span><span>信用卡</span><span>3000元</span><span><a routerLink="/payment/detail" >帳單明細</a></span></li>
	</ul>
</div>