<div class="m01">
	<h3>帳單清單</h3>
	<ul class="show">
		<li><span>結算項目</span><span>單位</span><span>金額</span></li>
		<li><span>虛擬伺服器產品名稱</span><span>1台</span><span>******元</span></li>
		<li><span>網路頻寬(租約期間吃到飽)</span><span>10MB</span><span>******元</span></li>
		<li><span>網路用量限制(限制租約期間用量)</span><span>10GB</span><span>******元</span></li>
		<li><span>網路用量計算(用多少算多少)</span><span>500MB</span><span>******元</span></li>
	</ul>
	<div><span>總金額：</span><span>10,000,000元</span></div>
	<p class="clear"></p>
	<ul class="show">
		<li><span>目前付款方式</span></li>
		<li><span>信用卡</span><a routerLink="/payment/method">變更付款方式</a></li>
	</ul>
	<div class="where">
		<a routerLink="/s07" href="javascript:void(0)" class="btn prev">PREV</a>
		<a href="javascript:void(0)" class="btn save"><i class="fa fa-shopping-basket"></i>結帳</a>
	</div>
</div>