<div class="m01 m04">
	<h3>歷史帳單明細<span>(2015/12/02 10:12)</span></h3>
	<ul class="show">
		<li><span>結算項目</span><span>單位</span><span>金額</span></li>
		<li><span>虛擬伺服器產品名稱</span><span>1台</span><span>2000元</span></li>
		<li><span>網路頻寬(租約期間吃到飽)</span><span>10MB</span><span>500元</span></li>
		<li><span>網路用量限制(限制租約期間用量)</span><span>10GB</span><span>500元</span></li>
		<li><span>網路用量計算(用多少算多少)</span><span>500MB</span><span>0元</span></li>
	</ul>
	<div><span>總金額：</span><span>3,000元</span></div>
	<p class="clear"></p>
	<div class="where">
		<a routerLink="/payment/record" href="javascript:void(0)" class="btn prev">付款記錄</a>

	</div>
</div>