<div class="main">
	<div class="p01">
		<div>
			<h2>雲端運算</h2>
			<p>雲端大數據為服務台灣雲端運算、大數據為主的雲端平台，免購買硬體設備，技術門檻低，有效降低企業與個人用戶成本，多消費組合模式，使用戶可選擇適用的模式進行服務。</p>
			<div class="list"><a (click)="createCloud()">雲端伺服器託管</a></div><a (click)="createCloud()" class="btn blue">快速佈署</a></div>
		<div>
			<h2>雲端儲存</h2>
			<p></p>
			<div class="list">Coming soon…</div><a href="#" class="btn gray">快速佈署</a></div>
		<div>
			<h2>雲端資料庫</h2>
			<p></p>
			<div class="list">Coming soon…</div><a href="#" class="btn gray">快速佈署</a></div>
	</div>
	<div class="clear"></div>
</div>